/* Styling for maps.js */

#map {
  position: relative;
  top: 10px;
  left: 20%;
  text-align: center;
}

.navigation {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: lightgray;
}

.item {
  position: relative;
  margin: 5px;
  top: 10px;
}

.navi {
  float: left;
  height: 30px;
}

/* Styling for info.js */